<div class="header">
  <h1>Dynamic Loader Angular</h1>
  <nav>
    <a routerLink="/view" routerLinkActive="active">Viewer</a>
    <a routerLink="/builder">Visual Builder</a>
    <a routerLink="/config">Config Editor</a>
  </nav>
</div>

<div class="config-selector">
  <button *ngFor="let key of configKeys" (click)="selectedConfigKeySafe = key">
    {{ pageConfigurations[key].title }}
  </button>
</div>

<app-dynamic-renderer
  *ngIf="showLoader"
  [nodes]="nodes"
></app-dynamic-renderer>
