
.canvas-item.selected {
  // position: absolute;
  // padding: 8px 12px;
  padding: 1px;
  background-color: #fff;
  border: 1px dashed #00000086;
  border-radius: 4px;
  // cursor: move;
  user-select: none;
  white-space: nowrap;
}

// .canvas-item.selected {
//   border: 2px solid #007bff;
// }